<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %}Odoo Hackathon{% endblock %}</title>
</head>

<body>
    <nav>
        <!-- Navbar -->
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>